<div class="col-md-3 col-sm-6 col-xs-12 categories {{ fields.field_gallery_category.content}}">
  <div class="portfolio-item gallery-grid hovereffect wow fadeInUp" data-wow-delay="0.4s">
    <img src="{{ fields.field_gallery_image.content}}" width="200px" alt="">
    <div class="overlay">
      <div class="portfolio-info middle">
        <a href="{{ fields.field_gallery_image.content}}" class="portfolio-popup"><i class="fa fa fa-arrows-alt" aria-hidden="true"></i></a>
      </div>
    </div>
  </div>
</div>