<section id="portfolio" class="text-center">
  <div class="container">
  	{{header}}
    <div class="portfolioContainer">

    {% for row in rows %}	
		{{ row }}
	{% endfor %}	 
	                       
    </div>
   </div>
</section>

