{#
/**
 * @file
 * Default theme implementation to display a single page.
 *
 * The doctype, html, head and body tags are not in this template. Instead they
 * can be found in the html.html.twig template in this directory.
 *
 * Available variables:
 *
 * General utility variables:
 * - base_path: The base URL path of the Drupal installation. Will usually be
 *   "/" unless you have installed Drupal in a sub-directory.
 * - is_front: A flag indicating if the current page is the front page.
 * - logged_in: A flag indicating if the user is registered and signed in.
 * - is_admin: A flag indicating if the user has permission to access
 *   administration pages.
 *
 * Site identity:
 * - front_page: The URL of the front page. Use this instead of base_path when
 *   linking to the front page. This includes the language domain or prefix.
 *
 * Navigation:
 * - breadcrumb: The breadcrumb trail for the current page.
 *
 * Page content (in order of occurrence in the default page.html.twig):
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title: The page title, for use in the actual content.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 * - messages: Status and error messages. Should be displayed prominently.
 * - tabs: Tabs linking to any sub-pages beneath the current page (e.g., the
 *   view and edit tabs when displaying a node).
 * - action_links: Actions local to the page, such as "Add menu" on the menu
 *   administration interface.
 * - node: Fully loaded node, if there is an automatically-loaded node
 *   associated with the page and the node ID is the second argument in the
 *   page's path (e.g. node/12345 and node/12345/revisions, but not
 *   comment/reply/12345).
 *
 * Regions:
 * - page.header: Items for the header region.
 * - page.navigation: Items for the navigation region.
 * - page.navigation_collapsible: Items for the navigation (collapsible) region.
 * - page.highlighted: Items for the highlighted content region.
 * - page.help: Dynamic help text, mostly for admin pages.
 * - page.content: The main content of the current page.
 * - page.sidebar_first: Items for the first sidebar.
 * - page.sidebar_second: Items for the second sidebar.
 * - page.footer: Items for the footer region.
 *
 * @ingroup templates
 *
 * @see template_preprocess_page()
 * @see html.html.twig
 */
#}


<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
<!-- Navigation
    ==========================================-->
{% if page.navigation %}
{% if header_lite  %}
<header id="header" class="header-lite" >
{% else %}
<header id="header" class="header-bg"   >
{% endif %}
    <nav class="navbar navbar-expand-lg navbar-light navbar-fixed-top" id="mainNav">
    <div class="container"> 
      {{page.logo}}
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive"  aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"> <i class="fa fa-bars"></i> </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
      {{page.navigation}}
      </div>
    </div>
  </nav>
</header>
{% endif %}  

{% if page.title %}
    <div class="page-header">
     <div class="container">
        <div id="page-title">
           {{ page.title }}
        </div>
      </div>
    </div>
{% endif %}


          {{page.slider}}

{# Main #}
{% block main %}
  <div role="main" class="blog-container js-quickedit-main-content">
    
      {# Sidebar First #}
      {% if page.sidebar_first %}
        {% block sidebar_first %}
          <aside class="col-sm-3" role="complementary">
            {{ page.sidebar_first }}
          </aside>
        {% endblock %}
      {% endif %}

      {# Content #}
      {%
        set content_classes = [
          page.sidebar_first and page.sidebar_second ? 'col-sm-6',
          page.sidebar_first and page.sidebar_second is empty ? 'col-sm-9',
          page.sidebar_second and page.sidebar_first is empty ? 'col-sm-9',
          page.sidebar_first is empty and page.sidebar_second is empty ? ''
        ]
      %}
      <section class="main-content-region-1" {{ content_attributes.addClass(content_classes) }}>

        {# Highlighted #}
        {% if page.highlighted %}
          {% block highlighted %}
            <div class="highlighted">{{ page.highlighted }}</div>
          {% endblock %}
        {% endif %}

        {# Breadcrumbs #}
        {% if breadcrumb %}
          {% block breadcrumb %}
            {{ breadcrumb }}
          {% endblock %}
        {% endif %}

        {# Action Links #}
        {% if action_links %}
          {% block action_links %}
            <ul class="action-links">{{ action_links }}</ul>
          {% endblock %}
        {% endif %}

        {# Help #}
        {% if page.help %}
          {% block help %}
            {{ page.help }}
          {% endblock %}
        {% endif %}

        {# Content #}
        {% block content %}
          <a id="main-content"></a>
          {{ page.content }}
        {% endblock %}
      </section>

      {# Sidebar Second #}
      {% if page.sidebar_second %}
        {% block sidebar_second %}
          <aside class="col-sm-3" role="complementary">
            {{ page.sidebar_second }}
          </aside>
        {% endblock %}
      {% endif %}
  
   </div>
{% endblock %}


  <footer>
    <!-- FOOTER SECTION-->
<section id="footer">
  <div class="container wow fadeInUp">
    <div class="row footer-bottom">
      <div class="col-md-6 col-sm-12 footer-columns wow fadeInUp" data-wow-delay="0.3s">
        {% if footer_image_url %}
        <img src="{{footer_image_url}}" alt="logo"/>
        {% endif %}
        {{page.footer_address}}
      </div>
      <div class="col-md-3 col-sm-12 footer-bottom-col2 wow fadeInUp" data-wow-delay="0.6s">
        {{ page.footer_col_2 }}
      </div>
      <div class="col-md-3 col-sm-12 footer-bottom-col3 wow fadeInUp" data-wow-delay="0.9s">
        {{ page.footer_col_3 }}
        </div>
      </div>
    </div>
</section>
<div class="footer-menu-social">
  <div class="container">
   <div class="row">  
    <div class="col-md-8 footer-menu wow fadeInUp" data-wow-delay="0.3s">
      <ul>
       {{ page.footer }}
      </ul>
    </div>
    <div class="col-md-4 footer-social wow fadeInUp" data-wow-delay="0.6s">
      <ul>
          {% if facebook  %}
           <a href="{{facebook}}" class="facebook"><i class="fa fa-facebook"></i></a>
          {% endif %}
          {% if twitter  %}
           <a href="{{twitter}}" class="twitter"><i class="fa fa-twitter"></i></a>
          {% endif %}              
          {% if pinterest  %}
           <a href="{{pinterest}}"><i class="fa fa-pinterest"></i></a>
          {% endif %}  
          {% if linkedin  %}
           <a href="{{linkedin}}"><i class="fa fa-linkedin"></i> </a>
          {% endif %} 
       </ul>  
     </div>
    <div class="col-md-6 mx-auto text-center copyright wow fadeInUp" data-wow-delay="0.3s"> 
                {% if copyright %}
                  {{copyright|striptags('<b>,<strong>,<p>,<a>,<pre>')|raw}}
                {% endif %}    
    </div>
   </div>
  </div>
</div>
  </footer>
</body>